/* スマホ向けレイアウト */
@media all and (max-width: 670px) {

  .header-logo {
    font-size: 20px;
  }

  .header-right a {
    font-size: 10px;
  }

  .footer-logo {
    font-size: 20px;
    padding: 10px;
  }

  .footer-list {
    font-size: 10px;
    padding: 10px;
  }
}