body {
  margin: 0;
  font-family: "Meiryo";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-logo {
  font-size: 35px;
  padding: 8px;
  color: #fff;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper {
  padding: 80px 0 20px 0;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 30px;
  letter-spacing: 5px;
}

.login-wrapper {
  height: 500px;
  padding-bottom: 30px;
  text-align: center;
}

.heading {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.heading h2 {
  font-weight: normal;
}

.contents p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.login-submit {
  width: 240px;
  background-color: #dee7ec;
  color: #889eab;
  margin-bottom: 30px;
}

footer {
  background-color: rgba(34, 49, 52, 0.9);
  height: 90px;
  color: #fff;
}

.footer-logo {
  float: left;
  font-size: 36px;
  padding: 20px;
}

.footer-list {
  float: right;
  padding: 20px;
}

.footer-list li {
  padding-bottom: 10px;
}