<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="stylesheet" href="../static/responsive.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="header-logo">Izanami</div>
        </div>
        <div class="header-right">
          <a href="#" class="header-login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>競艇結果AI予測</h1>
      </div>
    </div>
    <div class="login-wrapper">
      <div class="container">
        <div class="heading">
          <h2 >ログイン</h2>
        </div>
        <div class="login">
          {% if status == "user_notfound" %}
          <p>ユーザが見つかりません。</p>
          <p>新規登録してください。</p>
          {% elif status == "wrong_password" %}
          <p>パスワードが間違っています。</p>
          {% elif status == "logout" %}
          <p>ログアウトが完了しました。</p>
          {% elif status == "new" %}
          <p>ようこそ</p>
          {% endif %}
          <form action="/login" method="post">
            <p><input type="text" name="user_name" placeholder="user name"></p>
            <p><input type="password" name="password" placeholder="password"></p>
            <p><input class="btn" type="submit" value="Login"></p>
          </form>
          <a href="/newcomer">新規登録はこちら</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-logo">Deep Inception</div>
        <div class="footer-list">
          <ul>
            <li>お問い合わせ</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </footer>
  </body>
</html>